* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg, #7499e9 0%, #2e4bf1 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button {
    color: #1e3bdd;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #0621b8;
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}
.filter-todo {
    padding: 1rem;
}
.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: rgb(226, 60, 60);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(11, 212, 162);
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #1e3bdd;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 1rem;
    width: 12rem;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;

    background: #1e3bdd;
    cursor: pointer;
    pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */

.clear {
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-all-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
}
.filter-all-div label {
    font-size: 1.8rem;
    font-weight: bold;
}

.filter-all-div input {
    font-family: 'Poppins', sans-serif;
    padding: 0.3rem;

    font-size: 1.8rem;
    border: none;
    background: white;
}

.clear-tasks {
    margin: 3rem 0rem;
    background: #1e3bdd;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.clear-tasks:hover {
    background: #0621b8;
}
